.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.click {
	border: 1px solid red;
	border-radius: 15px;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 250px;
}
